<footer class="footer">  
  <div class="menu-line">
      <div class="container">
          <div class="row">
              <nav class="navbar navbar-inverse">
                  <ul class="nav navbar-nav navbar-menu">
                      <li><a href="/yardim?id=bitcoin-nedir" target="_blank">Bitcoin nedir?</a></li>
                      <li><a href="/Orderbook" target="_blank">Emir Defteri</a></li>
                      <li><a href="https://github.com/BTCTrader/broker-api-docs" target="_blank">API</a></li>
                      <li><a href="/yardim?id=komisyonlar" target="_blank">Komisyonlar</a></li>
                      <li><a href="/yardim?id=guvenlik" target="_blank">Güvenlik</a></li>
                      <li><a href="/home/news" target="_blank">Duyurular</a></li>
                      
                      <li><a href="/Yardim/bize-ulasin" target="_blank">Bize Ulaşın</a></li>
                  </ul>
                  <ul class="nav navbar-nav navbar-social">
                      <li><a class="icon facebook" href="https://www.facebook.com/btcturk" target="_blank" title="Facebook"></a></li>
                      <li><a class="icon twitter" href="https://twitter.com/btcturk" target="_blank" title="Twitter"></a></li>
                      <li><a class="icon instagram" href="https://www.instagram.com/btcturkofficial" target="_blank" title="Instagram"></a></li>
                      <li><a class="icon linkedin" href="https://tr.linkedin.com/company/btcturk" target="_blank" title="LinkedIn"></a></li>
                      <li><a class="icon youtube" href="https://www.youtube.com/btcturkofficial" target="_blank" title="YouTube"></a></li>
                  </ul>
              </nav>
          </div>
      </div>
      <a href="#" class="scroll-top"></a>
  </div>
  <!-- Info Line -->
  <div class="info-line">
      <div class="container">
          <div class="row">
              <ul class="logo-field">
                  <li>
                      <div class="channel-list">
                          <label class="caption">Kanallar</label>
                          <span class="logo akbank"></span>
                          <span class="logo papara"></span>
                      </div>
                  </li>
                  <li>
                      <div class="company-logo">
                          <span class="logo btcturk"></span>
                      </div>
                  </li>
                  <li>
                      <div class="support-center">
                          
                      </div>
                  </li>
              </ul>
          </div>
          <div class="row">
              <div class="address-field">
                  <address>
                      Telif Hakkı © 2018 - BtcTurk | Eliptik Yazılım ve Ticaret A.Ş. | Tüm Hakları Saklıdır.<br>
Nispetiye Cad. Akmerkez E3 Kulesi Kat: 9 34340 Etiler - Beşiktaş/İstanbul | Mersis No: 033204501460000<br>
<a href="/kullanim_sozlesmesi">Kullanım Sözleşmesi</a> ve <a href="/gizlilik-politikasi">Gizlilik Politikası</a>
                  </address>
              </div>
          </div>
          <div class="row">
              <div class="provider-field">
                  <a href="https://www.btctrader.com/" target="_blank" class="logo btc-trader"></a>
                  <a href="" target="_blank" class="logo comodo-ssl"></a>
              </div>
          </div>
      </div>
  </div>
</footer>
<div class="help">
    <a href="/yardim/bize-ulasin" target="_blank" class="helpCenter3">YARDIM MERKEZİ</a>
    <a href="/yardim/bize-ulasin" target="_blank" class="helpCenter"></a>
    <a href="/yardim/bize-ulasin" target="_blank" class="helpCenter2"></a>
</div>