 <div class="user-menu">
        <div class="container">
            <div class="row">
                <div class="menu-side">
                    <div class="activity-menu">
                        <a href="#" class="activity-link">
                            <span class="icon-bar"></span>
                        </a>
                        <div class="activity-list">
                            <ul class="menu-list">
                                <li>
                                    <a href="/Exchange/Advanced" class="">Gelişmiş Alış Satış</a>
                                </li>
                                <li>
                                    <a href="/Exchange/FastBuy" class="">Kolay Alış Satış</a>
                                </li>
                                <li class="dropdown-menu" id="ddmWithdrawal">
                                    <a href="#" class="dropdown-link ">Çekme<i class="arrow"></i></a>
                                    <div class="dropdown-list">
                                        <ul class="menu-list">
                                            <li><a href="/Withdrawal/Money">Türk Lirası (TRY)</a></li>
                                            <li><a href="/Withdrawal/Tether">Tether (USDT)</a></li>
                                            <li><a href="/Withdrawal/Bitcoin">Bitcoin (BTC)</a></li>
                                            <li><a href="/Withdrawal/Ethereum">Ethereum (ETH)</a></li>
                                            <li><a href="/Withdrawal/BitcoinCash">Bcash (BCH)</a></li>
                                            <li><a href="/Withdrawal/BitcoinGold">Bitcoin Gold (BTG)</a></li>
                                            <li><a href="/Withdrawal/Litecoin">Litecoin (LTC)</a></li>
                                            <li><a href="/Withdrawal/Ripple">Ripple (XRP)</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="dropdown-menu" id="ddmDeposit">
                                    <a href="#" class="dropdown-link ">Yatırma<i class="arrow"></i></a>
                                    <div class="dropdown-list">
                                        <ul class="menu-list">
                                            <li><a href="/Deposit/Money">Türk Lirası (TRY)</a></li>
                                            <li><a href="/Deposit/Tether">Tether (USDT)</a></li>
                                            <li><a href="/Deposit/Bitcoin">Bitcoin (BTC)</a></li>
                                            <li><a href="/Deposit/Ethereum">Ethereum (ETH)</a></li>
                                            <li><a href="/Deposit/Litecoin">Litecoin (LTC)</a></li>
                                            <li><a href="/Deposit/Ripple">Ripple (XRP)</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="dropdown-menu" id="ddmAccount">
                                    <a href="#" class="dropdown-link ">Hesap<i class="arrow"></i></a>
                                    <div class="dropdown-list">
                                        <ul class="menu-list">
                                            <li><a href="/Account/Balances">Varlıklarım</a></li>
                                            <li><a href="/Account/AccountInformations">Hesap Bilgileri</a></li>
                                            <li><a href="/History">Hesap Hareketleri</a></li>
                                            <li><a href="/History/AuditLogs">Kullanıcı Hareketleri</a></li>
                                            <li><a href="/Account/Verification">Hesap Onayı</a></li>
                                            <li><a href="/ApiAccess">API Erişimi</a></li>
                                            <li><a href="/ApiAccess/MobileAccess">Mobil Erişim</a></li>
                                            <li><a href="/Account/CommunicationPreferences">İletişim Tercihleri</a></li>
                                            <li><a href="/Yardim/bize-ulasin?FilterId=Limit" target="_blank">Limit Arttırma Talebi</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="dropdown-menu" id="ddmSecurity">
                                    <a href="#" class="dropdown-link ">Güvenlik<i class="arrow"></i></a>
                                    <div class="dropdown-list">
                                        <ul class="menu-list">
                                            <li><a href="/Account/TwoFactorAuthentication">İki Aşamalı Doğrulama</a></li>
                                            <li><a href="/Account/ChangePassword">Şifre Değiştirme</a></li>
                                            <li><a href="/Account/SessionTimeout">Zaman Aşımı</a></li>
                                            <li><a href="/Account/SecurityPicture">Güvenlik Resmi</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <a href="/Account/Alarm" class="alarm-link"></a>
                    </div>
                </div>
                <div class="balance-side">
                    <div class="balance-menu" id="userBalanceDetailDropdown">
        <a href="#" class="balance-link" denominator-total-balance="0.0000000000000000" numerator-total-balance="0.0000000000000000">
            <span class="pair">TRY: 0,00</span>
            <span class="pair">BTC: 0.00</span>
            <i class="arrow"></i>
        </a>
        <div class="balance-list">
            <ul class="menu-list">
                <li>
                    <label class="title">YAKLAŞIK OLARAK</label>
                    <div class="value">
                        <span class="pair">0,00 TRY</span>
                        <i class="icon"></i>
                        <span class="pair">0.00 BTC</span>
                    </div>
                </li>
                <li>
                    <label class="title">KULLANILABİLİR VARLIKLAR</label>
                        <ul class="value">
                            <li class="name">TRY</li>
    
                            <li class="balance">
    0,00                        </li>
    
                            <li class="action">
                                <span class="deposit"><a href="/Deposit/Money" class="btn btn-green">YATIR</a></span>
                                <span class="withdraw"><a href="/Withdrawal/Money" class="btn btn-red">ÇEK</a></span>
                            </li>
                        </ul>
                        <ul class="value">
                            <li class="name">BTC</li>
    
                            <li class="balance">
    0.00                        </li>
    
                            <li class="action">
                                <span class="deposit"><a href="/Deposit/Bitcoin" class="btn btn-green">YATIR</a></span>
                                <span class="withdraw"><a href="/Withdrawal/Bitcoin" class="btn btn-red">ÇEK</a></span>
                            </li>
                        </ul>
                        <ul class="value">
                            <li class="name">ETH</li>
    
                            <li class="balance">
    0.00                        </li>
    
                            <li class="action">
                                <span class="deposit"><a href="/Deposit/Ethereum" class="btn btn-green">YATIR</a></span>
                                <span class="withdraw"><a href="/Withdrawal/Ethereum" class="btn btn-red">ÇEK</a></span>
                            </li>
                        </ul>
                        <ul class="value">
                            <li class="name">XRP</li>
    
                            <li class="balance">
    0.00                        </li>
    
                            <li class="action">
                                <span class="deposit"><a href="/Deposit/Ripple" class="btn btn-green">YATIR</a></span>
                                <span class="withdraw"><a href="/Withdrawal/Ripple" class="btn btn-red">ÇEK</a></span>
                            </li>
                        </ul>
                        <ul class="value">
                            <li class="name">LTC</li>
    
                            <li class="balance">
    0.00                        </li>
    
                            <li class="action">
                                <span class="deposit"><a href="/Deposit/Litecoin" class="btn btn-green">YATIR</a></span>
                                <span class="withdraw"><a href="/Withdrawal/Litecoin" class="btn btn-red">ÇEK</a></span>
                            </li>
                        </ul>
                        <ul class="value">
                            <li class="name">USDT</li>
    
                            <li class="balance">
    0,00                        </li>
    
                            <li class="action">
                                <span class="deposit"><a href="/Deposit/Tether" class="btn btn-green">YATIR</a></span>
                                <span class="withdraw"><a href="/Withdrawal/Tether" class="btn btn-red">ÇEK</a></span>
                            </li>
                        </ul>
                        <ul class="value">
                            <li class="name">USD</li>
    
                            <li class="balance">
    0,00                        </li>
    
                            <li class="action">
                                <span class="deposit"><a href="/Deposit/Dolar" class="btn btn-green">YATIR</a></span>
                                <span class="withdraw"><a href="/Withdrawal/Dolar" class="btn btn-red">ÇEK</a></span>
                            </li>
                        </ul>
                </li>
            </ul>
        </div>
    </div>
                </div>
            </div>
        </div>
    </div><div class="help-hero bitcoin">
        <div class="container">
            <h1 class="title">Bitcoin nedir?</h1>
            <p class="description">Bitcoin tamamen dijital bir para birimi ve yenilikçi bir ödeme sistemidir</p>
        </div>
    </div>
    <div class="bodyComponentsSettings">
        <div class="customContainer nonePadBottom">
            <iframe class="leftPad" width="100%" height="347" src="//www.youtube.com/embed/tMnNC_l4tVM" frameborder="0" allowfullscreen=""></iframe>
            <div class="explanation">
                <h3>Bitcoin nedir?</h3>
                <p>Bitcoin tamamen dijital bir para birimi, ödeme sistemi ve merkezi olmayan bir mutabakat ağıdır. Sistem üzerinde kullanıcılar birbirlerine aracı olmadan doğrudan transferler yapabilir. Transferler merkezi olmayan dağınık bir kayıt ve mutabakat sistemine kaydedilir. Bu kayıt ve mutabakat sistemine Blockchain adı verilir. Bitcoin ağı üzerinde transfer edilen değer birimi bitcoin(BTC) olarak adlandırılır.</p>
            </div>
            <div class="explanation">
                <h3>Bitcoin’in sahibi ve merkezi kimdir?</h3>
                <p>Kimsenin e-posta teknolojisine sahip olmadığı gibi hiçbir kimse ya da kurum da Bitcoin ağına sahip değildir. Temsilcilik, franchise vb. bir oluşum yoktur. Bitcoin bir şirket ya da kurum değildir. Bitcoin açık bir teknolojidir ve herkes herhangi bir engelleme olmadan katılabilir, kullanabilir ya da iştirak edebilir.</p>
            </div>
            <div class="explanation">
                <h3>Bitcoin'in fiyatını kim belirliyor?</h3>
                <p>Bitcoin’in değeri BtcTurk gibi bağımsız borsalar üzerinde tamamen arz talep ilişkisi ile belirlenir. Alıcı ve satıcıların emirlerini birbiri ile eşleştiren BtcTurk ve benzeri borsalar kullanıcıların yaptığı işlemleri fiyat ve piyasa bilgileri olarak yayınlarlar. Farklı Bitcoin borsaları birbirine ya da bir merkeze bağlı değildir. Her borsa üzerinde Bitcoin fiyatı bağımsız olarak oluşur. Kullanıcıların yaptığı arbitraj işlemleri fiyatın borsalarda birbirine yakın gitmesini sağlar.</p>
            </div>
            <div id="chapter4" class="explanation">
                <h3>Bitcoin’e yatırım yapmalı mıyım?</h3>
                <p>Bitcoin fiyatları çoğu zaman bilindik birçok yatırım aracına göre son derece hızlı değişmektedir. Bu durum fırsatlar oluşturduğu gibi riskler de barındırmaktadır. BtcTurk olarak Bitcoin alış satış işlemlerinde ve yatırımlarında ihtiyatlı davranılmasını tavsiye ederiz.</p>
            </div>
            <div class="explanation">
                <h3>Bitcoin güvenli midir?</h3>
                <p>Bitcoin’in temel teknolojisi açık kaynaklıdır ve herkes tarafından gözlemlenebilir. Günümüze kadar binlerce bağımsız güvenlik uzmanı tarafından kontrol edilen Bitcoin'in temel teknolojisi ile ilgili geçmişte oluşan problemler hızlıca giderilmiştir. Fakat unutmamak gerekir ki Bitcoin halen evrimini sürdürmektedir.</p>
                <p>Kullanıcılar üçüncü parti Bitcoin hizmet sağlayıcıları ile alış/satış, yatırım ya da transfer amaçlı çalışırken dikkatli olmalıdır. Günümüze dek birçok hizmet sağlayıcısı kullanıcılarını hırsızlık, sistemlere izinsiz girişler ve doğrudan dolandırıcılık ile mağdur etmiştir. BtcTurk olarak hizmet sağlayıcılara para gönderirken ya da yatırım yaparken dikkatli davranılmasını tavsiye ederiz.</p>
                <p>Kendi Bitcoin cüzdanınızı kullanırken cüzdanınızın şifrelerini ve gizli anahtarlarını korumaktan kendiniz sorumlu olursunuz. Bitcoin transferlerinin geri çevrilemez olduğunu hatırlatmak isteriz.</p>
            </div>
            <div class="explanation noneBorder">
                <h3>BtcTurk’e güvenebilir miyim?</h3>
                <p>BtcTurk, Temmuz 2013’den bu yana Türkiye pazarına hizmet veren Türk Lirası tabanlı ilk Bitcoin borsasıdır. BtcTurk üzerindeki hesabınız uluslararası standartlara uygun, en ileri güvenlik yöntemleri kullanılarak korunmaktadır. <a class="mainLink" href="/yardim/guvenlik">Güvenlik</a> sayfamızdan daha detaylı bilgi alabilirsiniz.</p>
            </div>
        </div>
    </div>